<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <script>
        function updatedo(){
            alert("수정되었습니다.");
            const frm = document.frm;
            frm.submit();
        }
    </script>
</head>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cheatsheet.css" rel="stylesheet">
<body>
<article class="my-3" id="validation">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Update</h3>
    </div>
    <div>
        <div class="bd-example">
            <form name="frm" action="/boarder/updatedo" method="post" class="row g-3">
                <input type="hidden" name="seq" th:value="${user.seq}">
                <div class="col-md-4">
                    <label for="validationServer01" class="form-label">Email</label>
                    <input type="text" name="email" th:value="${user.email}" class="form-control is-valid" id="validationServer01" placeholder="email을 입력해주세요" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationServer02" class="form-label">비밀번호</label>
                    <input type="text" name="passwd" th:value="${user.passwd}" class="form-control is-valid" id="validationServer02" placeholder="비밀번호를 입력해주세요" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit" onclick="updatedo()">완료</button>
                </div>
            </form>
        </div>
    </div>
</article>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
</body>
</html>