<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script>
        function register() {
            window.location.href="/boarder/register";
        }

        function del(seq) {
            alert("삭제되었습니다.");
            const reqDeleteUser = document.reqDeleteUser;
            reqDeleteUser.seq.value = seq;
            reqDeleteUser.submit();
        }
        function update(seq) {
            const reqUpdateUser = document.reqUpdateUser;
            reqUpdateUser.seq.value = seq;
            reqUpdateUser.submit();
        }
        // function updatedo(seq) {
        //     const reqUpdateDo = document.reqUpdateDo;
        //     reqUpdateDo.seq.value = seq;
        //     reqUpdateDo.submit();
        // }
    </script>
</head>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cheatsheet.css" rel="stylesheet">
<body class="bg-light">

<!--<form name="reqUpdateDo" method="post" action="/boarder/updatedo">-->
<!--    <input type="hidden" name="seq">-->
<!--</form>-->
<form name="reqUpdateUser" method="post" action="/boarder/update">
    <input type="hidden" name="seq">
</form>
<form name="reqDeleteUser" method="post" action="/boarder/delete">
    <input type="hidden" name="seq">
</form>


<div>
    <div class="bd-example">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">email</th>
                <th scope="col">비밀번호</th>
                <th scope="col">마지막접속</th>
                <th scope="col">생성일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${userList}">
                <td th:text="${list.seq}"></td>
                <td th:text="${list.email}"></td>
                <td th:text="${list.passwd}"></td>
                <td th:text="${list.last_login_at}"></td>
                <td th:text="${list.create_at}"></td>
                <td><button type="button" class="btn btn-primary" th:onclick="|javascript:update(${list.seq})|">수정</button></td>
                <td><button id="del" type="button" class="btn btn-primary" th:onclick="|javascript:del(${list.seq})|">삭제</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary" onclick="register()">글쓰기</button>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
</body>
</html>