<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JS Board</title>
</head>
<body style="text-align: center">
    <h2>JS select with Spring</h2>
    <form name="frm" action="/userinfo_seq" method="post">
        <span>고유 번호:</span>
        <input type="text" placeholder="번호를 입력해주세요" name="seq">
        <button name="btn" type="submit">조회하기</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form name="frm" action="/userinfo_email" method="post">
        <span>Email:</span>
        <input type="text" placeholder="Email을 입력해주세요" name="seq">
        <button name="btn" type="submit">조회하기</button>
    </form>

</body>
</html>