<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>추가된 정보</h2>
<table border='1' width='600' align='center' cellpadding='2'>
    <tr>
        <th align='center' width='10%'>번호</th>
        <th align='center' width='20%'>email</th>
        <th align='center' width='20%'>비밀번호</th>
        <th align='center' width='25%'>마지막접속일</th>
        <th align='center' width='25%'>생성일자</th>
    </tr>
    <tr height='70'>
        <td align='center' th:text="${seq}"></td>
        <td align='center' th:text="${email}"></td>
        <td align='center' th:text="${passwd}"></td>
        <td align='center' th:text="${last_login_at}"></td>
        <td align='center' th:text="${create_at}"></td>
    </tr>
</table>
</body>
</html>